@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One&family=Bruno+Ace&family=Gabarito&family=Kanit:wght@300;400&family=Krona+One&family=Metal&family=Odor+Mean+Chey&family=Roboto+Slab&display=swap');

:root {
    --cor-primaria: black;
    --cor-secundaria: whitesmoke;
    --cor-terciaria: #22D4FD;
    --cor-hover: #272727;
    --cor-houver--secundaria: rgb(210, 15, 210);
    --fonte-conteudo:'Kanit', sans-serif;
}
* {
    margin: 0;
    padding: 0;
}
.primeiro__fundo {
    /* height: 100vh; */
    color: var(--cor-secundaria);
    background-image: url(../imagens/fundoPagi.jpg);
    background-position: center center;
}
.segundo__fundo {
    /* height: 100vh; */
    color: var(--cor-secundaria);
    background-image: url(../imagens/fundoPa.jpg);
    background-position: center center;
    width: 100%;
}
.titulo-destaque {
    color : var(--cor-secundaria);
    font-family: var(--fonte-conteudo)
}
.cabecalho{
    display: flex;
    justify-content: space-between;
    padding: 35px 45px 35px 45px;
}
.cabecalho__menu{
    display: flex;
    gap: 5rem;
    justify-content: left;
}
.cabecalho__menu__link{
    font-family: var(--fonte-conteudo);
    font-size: 1.5rem;
    font-weight: 600;
    border: 0.150rem solid var(--cor-terciaria);
    border-radius: 0.625rem;
    color:var(--cor-secundaria);
    padding: 0.625rem 0.625rem;
    text-decoration: none;
}
.cabecalho__menu__link:hover {
    border: 0.150rem solid var(--cor-houver--secundaria);
    border-radius: 0.625rem;
    color: var(--cor-secundaria);
    text-shadow: 0.063rem 0.0625rem 0.125rem var(--cor-houver--secundaria);
}

.apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 45px 15px 45px;
    gap: 5rem;
}

.apresentacao__conteudo {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}

.apresentacao__conteudo__titulo {
    padding: 1.438rem 0 0.688rem 0;
    align-items: center;
    text-align: center;
    font-size: 2.25rem;
    font-family: var(--fonte-conteudo);
    text-shadow: 0.063rem 0.0625rem 0.125rem var(--cor-primaria);
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__subtitulo{
    text-align: center;
    font-size: 2.25rem;
    font-family: var(--fonte-conteudo);
    text-shadow: 0.063rem 0.0625rem 0.125rem var(--cor-primaria);
    color: var(--cor-terciaria);
}

.conteudo__realizacao{
    flex-wrap: nowrap;
    padding: 0.938rem 1.563rem 0 3.688rem;
}
.conteudo__nobre{
    display: flex;
    padding: 2.188rem 0 3.125rem 0;
}
.video__nobre{
    width: 25rem;
    height: 31.25rem;
}

.apresentacao__conteudo__pessoal{
    text-align: center;
    width: 100%;
}

.bloco__pessoal{
    display: flex;
    flex-direction: column;
}

#sobre:hover {
    color: var(--cor-terciaria);
    text-shadow: 0.063rem 0.0625rem 0.125rem var(--cor-houver--secundaria);
}

.apresentacao__conteudo__texto {
    padding: 0.563rem 0 0.563rem 1.938rem;
    font-size: 1.5rem;
    font-family: var(--fonte-conteudo);
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
.apresentacao__links__subtitulo{
    font-family: var(--fonte-conteudo);
    font-size: 1.5rem;
}
.apresentacao__links__botao{
    display: flex;
    justify-content: center;
    gap: 1rem;
    border: 0.125rem solid var(--cor-terciaria);
    width: 40%;
    text-align: center;
    border-radius: 0.625rem;
    font-size: 1.5rem;
    padding: 1.313rem 0.625rem;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-conteudo);
    font-weight: 600;
}
.apresentacao__links__botao:hover {
    border: 0.150rem solid var(--cor-houver--secundaria);
    border-radius: 0.625rem;
    color: var(--cor-secundaria);
    text-shadow: 0.063rem 0.0625rem 0.125rem var(--cor-houver--secundaria);
}
.imagem__minha__foto{
   display: flex;
   width: 100%;
   border-radius: 11%;
   padding: 1.375rem 0 3.125rem 0;
  }
.imagem__minha__foto_n{
    width: 15.625rem;
    height: 21.188rem;
    padding: 25px 0 25px 0;
    border-radius: 55%;
}
.campo__link{
    font-size: 3.125rem;
    font-family: var(--fonte-conteudo);
    text-align: center;
    padding: 0 0 3.125rem 0;
}
#link__mais__info{
    color: var(--cor-terciaria);
}
#link__mais__info:hover {
    color: var(--cor-houver--secundaria);
    
}
.rodape{
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    padding: 0.75rem;
    text-align: center;
    font-family: var(--fonte-conteudo);
    font-size: 35px;
    font-weight:bold;
    text-shadow: 0.063rem 0.0625rem 0.125rem var(--cor-secundaria);
}

@media(max-width:1200px){
    .segundo__fundo{
        background-image: url(../imagens/novaImagem.jpg);
        width: auto;
    }
    .primeiro__fundo{
        background-image: url(../imagens/novaImagem.jpg);
        width: auto;
    }
    .cabecalho{ 
        justify-content: center;
    }
    .cabecalho__menu{
        flex-direction: column;
        width: auto;
        text-align: center;
    }
    .cabecalho__menu__link{
        flex-direction: column;
        padding: 0.188rem 0.438rem;
    }
    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }
    .apresentacao__conteudo{
        width: auto;
    }
    .apresentacao__conteudo__texto{
        width: auto;
    }
    .apresentacao__conteudo__pessoal{
        width: auto;
    }
    .bloco__pessoal{
        width: auto;
        justify-content: center;
    }
    .imagem__minha__foto_n{
        padding: 2.813rem 0 2.813rem 2.188rem;
        width: auto;
        border-radius: 55%;
    }
    .conteudo__nobre{
        flex-direction: column-reverse;
        align-items: center;
    }
    #navegador__video{
        flex-direction: column-reverse;
        align-items: center;
    }
}
